@page
@model FrontEnd.Pages.IndexModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<script src="~/js/script.js"></script>
<body>
    @functions
{
        public int GetFactorial(int n)
        {
            int result = 1;
            for (int i = 1; i <= n; i++)
                result *= i;
            return result;
        }
    }
    <div>Факториал числа 6 равен: @GetFactorial(6)</div>
    <p>Дата: @DateTime.Now.ToLongDateString()</p>
    <section>
        <h1 class="game--title">Tic Tac Toe</h1>
        <div class="game--container">
            <input onclick="change(this)" type="button" id="A00" class="cell" value="">
            <input onclick="change(this)" type="button" id="A01" class="cell" value="">
            <input onclick="change(this)" type="button" id="A02" class="cell" value="">
            <input onclick="change(this)" type="button" id="B10" class="cell" value="">
            <input onclick="change(this)" type="button" id="B11" class="cell" value="">
            <input onclick="change(this)" type="button" id="B12" class="cell" value="">
            <input onclick="change(this)" type="button" id="C20" class="cell" value="">
            <input onclick="change(this)" type="button" id="C21" class="cell" value="">
            <input onclick="change(this)" type="button" id="C22" class="cell" value="">
        </div>
        <p>Дата: @DateTime.Now.ToLongDateString()</p>
        <h2 class="game--status"></h2>
        <button class="game--restart">Restart Game</button>
    </section>
    <div>
        <h3>Test</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.Value" name="Id" />
            <table>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>